.calculation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh; /* Center vertically */
  width: 65em;
  padding-left: 3rem;
}

.table-title {
  font-size: 28px;
  color: black;
  font-weight: bold;
  font-family: "Oswald";
  margin-bottom: 20px;
}

.calculation-table {
  width: 95%;
  max-width: 1200px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.calculation-table th,
.calculation-table td {
  border: 2px solid rgba(0, 0, 0, 0.2); /* Softer border */
  padding: 12px;
  text-align: center;
  font-family: "Oswald";
}

.calculation-table th {
  background: linear-gradient(180deg, #ff919d 0%, #fca61f 100%);
  color: white;
  font-size: 18px;
}

.calculation-table td input,
.calculation-table td select {
  width: 90%;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.2s;
}

.delete-btn:hover {
  background-color: darkred;
}
